/*=====Animation=====*/
a:hover .animated_umbrella {
    @include animation(wiggle 1s ease infinite);
}

a:hover .animated_trombone_handle {
    @include animation(play 2s infinite);
}

a:hover .animated_streetcar {
    @include animation(slide 2s ease infinite);
}

/*=====Key Frames=====*/

@include keyframes(wiggle) {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
}


@include keyframes(play) {
    50% {
        top: 33px;
        left: 35px;
    }
}


@include keyframes(slide) {
    0%, 100% {
        left: 0;
    }
    50% {
        left: -25px;
    }
}
