/*Variables*/

$sm_pad: 3em;


body {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        display: block;
    }
    iframe {
        display: block;
    }
}

header {
    overflow: hidden;
    margin-top: 3em;

}

.logo {
    float: left;
    margin-left: 1em;
}

footer {
    overflow: hidden;
    .foot_nav {
        float: right;
        width: 30%;
    }
    .social_nav {
        overflow: hidden;
        float: left;
        width: 70%;
        li {
            width: 50px;
            height: 50px;
            float: left;
            margin-right: 2%;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.top_wrap, .bottom_wrap {
    overflow: hidden;
}


/*======Home Page ======*/
.large_logo {
    display: none;
}

.small_logo {
    width: 60%;
    padding-bottom: 15px;
}
.logo {
    padding-bottom: 2em;
}
.fest_intro, .partners {
    padding: $sm_pad;
    overflow: hidden;
}

.fest_intro, .trombone {
    background-image: url(../assets/trombone_lg.svg);
    background-size: 150%;
    background-repeat: no-repeat;
    // background-position: center;

}

.sub_hero {
    background: url(../assets/sub_band.jpg);
    background-size: cover;
    height: 300px;
    display: none;
}

.hero {
    max-height: 550px;
    overflow: hidden;
}

.cp_mama {
    max-width: 725px;
}

/*======Music Page ======*/
.stage_wrap:nth-of-type(3n+1) {
    .schedule {
        background-image: url(../assets/streetcar_lg.svg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;

    }
}

.stage {
    height: 200px;
}

.stage, .schedule {
    padding: $sm_pad;
}

.day_nav {
    @include clearfix;
    text-align: center;
    li {
        display: inline-block;
        width: 25%;
        padding: 1.5em;
        &:active {
            background: red;
        }
    }
}


.food_nav {
    @include clearfix;
    text-align: center;
    li {
        display: inline-block;
        width: 50%;
        padding: 1.5em;
    }
}

/*======Food Page ======*/

.vendor_wrap {
    padding: $sm_pad;
}

.beverages {
    margin-top: 1.5em;
}
.icon_key {
    overflow: hidden;
    margin-top: 2em;
}
.veg, .gf {
    float: left;
    width: 100px;
    text-align: center;
}

.veg {
    margin-right: 20%;
}

.icon_sm {
    padding-top: 1em;
    p {
        display: inline-block;
        margin-right: 1em;
        vertical-align: top;
    }
    img {
        display: inline-block;
        width: 30px;
        margin-right: 5px;
    }
}


/*======Events Page ======*/

.umbrella   {
    background-image: url(../assets/umbrella_lg.svg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center top;

}

.event_wrap {
    padding: $sm_pad;
    overflow: hidden;
}

.gala {
    padding: 0;
}

.gala_photo {
    background-image: url(../assets/gala.jpg);
    background-size: cover;
    max-height: 300px;
    height: 300px;
}
.gala_info, .events p {
    max-width: 600px;
}

/*======Adopt Page ======*/

.sponsor_wrap {
    padding: $sm_pad;
}

.sponsor_col1, .sponsor_col2 {
    margin-bottom: 3.5em;
    &:last-of-type {
        margin-bottom: 0;
    }
}
/*======Animations ======*/
.animation_mama {

a {
    display: block;
    padding-bottom: 2em;
}

img {
    padding-top: 1em;
}
}
    .animated_trombone {
        width: 120px;
        position: relative;
    }
    .animated_trombone_handle {
        width: 120px;
        position: absolute;
        top: 1512px;
        left: 73px;
    }

.animated_streetcar {
    width: 120px;
    position: relative;
}
.animated_umbrella {
    width: 120px;
    position: relative;
}