/*Variables*/

$logo_favicon: rgb(223, 233, 37);
$red: rgb(199, 11, 15);
$tealish: rgb(76, 155, 172);
$yellowish: rgb(220, 226, 105);
$main_nav: rgb(75, 70, 72);

$dk_text: rgb(75, 70, 72);
$lt_text: #ffffff;

#locations, #sched_date, #events_date {
    background-color: $tealish;
}

.day_nav, .food_nav {
    background: $main_nav;

a {color: $lt_text;}

li {
    border-right: 2px solid $logo_favicon;
    @include transition (background 300ms linear);

    &:last-of-type {
        border-right: none;
    }

    &:hover {
    background: $tealish;
    }
}

}

footer {

    padding: 2em 1em;

    li {

    margin-bottom: 1em;

    a {
        color: white;

        &:visited {
            color: white;
        }
        &:hover {
            color: $logo_favicon;
        }

        svg:hover #twitter-4-icon, svg:hover #youtube-4-icon, svg:hover #facebook-circle-icon, svg:hover #instagram-circle-icon {
            fill: $logo_favicon;
            @include transition (fill 300ms linear);
        }
        }
    }
}
.bottom_wrap {
    background: $main_nav;
}

.logo {
    color: $dk_text;
}
/*======Home Page ======*/

.lg_logo {
    color: $lt_text;
    background: $red;
}

.fest_intro {
    color: $dk_text;
    background-color: $yellowish;
}

.partners {
    color: $lt_text;
    background: $tealish;
}

.animation_mama a {
    color:$dk_text;

    &:visited {color:$dk_text;}
    &:hover {color:$tealish;}

}
/*======Music Page ======*/

.stage_wrap:nth-of-type(3n+1) {
    .stage {
        background: $red;
        color: $lt_text;
    }
    .schedule {
        background-color: $tealish;
        color: $lt_text;
    }
}

.stage_wrap:nth-of-type(3n+2) {
    .stage {
        background: $yellowish;
        color: $dk_text;
    }
    .schedule {
        background: $red;
        color: $lt_text;
    }
}

.stage_wrap:nth-of-type(3n+3) {
    .stage {
        background: $tealish;
        color: $lt_text;
    }
    .schedule {
        background: $yellowish;
        color: $dk_text;
    }
}

/*======Food Page ======*/

.vendor_wrap:nth-of-type(3n+1) {
    background-color: $red;
    color: $lt_text;
}

.vendor_wrap:nth-of-type(3n+2) {
    background-color: $yellowish;
    color: $dk_text;
}

.vendor_wrap:nth-of-type(3n+3) {
    background-color: $tealish;
    color: $lt_text;
}

/*======Events Page ======*/


// .event_wrap:nth-of-type(3n+1) {
//     background: $red;
//     color: $lt_text;
// }

// .event_wrap:nth-of-type(3n+2) {
//     background: $yellowish;
//     color: $dk_text;
// }

// .event_wrap:nth-of-type(3n+3) {
//     background: $tealish;
//     color: $lt_text;
// }

.tealish {
    background-color: $tealish;
    color: $lt_text;
}
.red {
    background-color: $red;
    color: $lt_text;
}
.yellowish {
    background-color: $yellowish;
    color: $dk_text;
}
/*======Adopt Page ======*/

.sponsor_wrap:nth-of-type(3n+1) {
    background-color: $red;
    color: $lt_text;
}

.sponsor_wrap:nth-of-type(3n+2) {
    background-color: $yellowish;
    color: $dk_text;
}

.sponsor_wrap:nth-of-type(3n+3) {
    background-color: $tealish;
    color: $lt_text;
}

.intro a{
    color: $lt_text;
    border-bottom: 2px solid $tealish;

    &:hover {
        border-bottom: 2px solid $tealish;
    }
}
.outro a{
    color: $dk_text;
    border-bottom: 2px solid $tealish;

    &:hover {
        border-bottom: 2px solid $tealish;
    }
}

