/*Variables*/

$logo_favicon: rgb(223, 233, 37);
$head_red: rgb(199, 11, 15);
$tealish: rgb(76, 155, 172);
$yellowish: rgb(220, 226, 105);
$main_nav: rgb(75, 70, 72);

$dk_text: rgb(75, 70, 72);
$lt_text: #ffffff;

/*======Home Page ======*/

.lg_logo {
	color: $lt_text;
	background: $head_red;
}

.fest_intro {
	color: $dk_text;
	background: $yellowish;
}

.partners {
	color: $lt_text;
	background: $tealish;
}

/*======Music Page ======*/


/*======Food Page ======*/


/*======Events Page ======*/


/*======Adopt Page ======*/