/* Mixin */

@mixin grid ($col-num){
  width: ($col * $col-num);
 
}

/*Variables*/
$global: 100%;
$col: 8.33%;



// @media screen and (min-width: 53.125em) {

// .col5 {
// 	@include grid(5);
// }

// .col10 {
// 	@include grid(10);
// }
// }