/*! responsive-nav.js 1.0.38 by @viljamis */

.nav-collapse a {
    width: 100%;
    display: block;
    text-align: right;
    padding: 1em 1em;
    border-bottom: 2px solid rgb(223, 233, 37);
}

.md_bord {
    border-right: 2px solid rgb(223, 233, 37);
}

.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    overflow: hidden;
    .block {
        display: block;
        background: rgb(75, 70, 72);
        width: 50%;
        float: left;
        color: #ffffff;
        font-size: 1.25em;
        font-weight: 300;
        @include transition(background 300ms linear);
        &:visited {
            color: white;
        }
        &:hover {
            background: rgb(76, 155, 172);
        }
    }
    .non-block {
        display: block;
        background: #ffffff;
        width: 50%;
        float: left;
        color: rgb(75, 70, 72);
    }
    .non-block:visited {
        color: rgb(75, 70, 72);
    }
    .non-block:hover {
        color: rgb(76, 155, 172);
        @include transition(color 300ms linear);
    }
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    clear: both;
    margin-top: 2em;
}

.nav-collapse.opened {
    max-height: 9999px;
    position: relative;
    margin-top: 2em;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: right;
    // background-image: url(assets/hamburger.svg);
    font-size: 1.5em;
    font-family: "azo-sans-web",sans-serif;
    margin-bottom: 3em;
    margin-right: 1em;
    border-bottom: 3px solid rgb(223, 233, 37);
    color: rgb(75, 70, 72);
    a:visited {
        color: rgb(75, 70, 72);
    }
}

#food_link, #sched_link, #home_link, #events_link {
    background-color: rgb(76, 155, 172);
}

@media screen and (min-width: 40em) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
    .nav-collapse ul {
        .block, .non-block {
            width: 25%;
            text-align: center;
        }
        .non-block {
            border: none;
        }
        .block {
            border-bottom: none;
        }
        .lg_bord {
            border-right: 2px solid rgb(223, 233, 37);
        }
    }
}

@media screen and (min-width: 53.125em) {
    .nav-collapse ul li {
        .block, .non-block {
            float: none;
            width: 100%;
            border-right: none;
        }
        .block {
            border-bottom: 2px solid rgb(223, 233, 37);
        }
    }
    .nav-collapse li a {
        padding: 1.5em 1em;
    }
}