/*Variables*/

$lg_pad: 4.65em;
$xl_pad: 10em;

@media screen and (min-width: 40em) {
    .small_logo {
        display: none;
    }
    .large_logo {
        display: block;
        width: 20%;
        float: left;
        padding-bottom: 3em;
    }
    .logo_date {
        float: left;
        margin-left: 2em;
        margin-top: 3em;
    }
    .foot_nav {
        width: 50%;
        li {
            display: inline-block;
        }
    }
    .social_nav {
        width: 50%;
    }
    .logo {
        float: none;
    }
    /*======Home Page ======*/
    .fest_intro, .partners {
        padding: $lg_pad;
    }
    .sub_hero {
        display: block;
        float: left;
        width: 50%;
    }
    .lg_logo {
        overflow: hidden;
        .logo_title {
            width: 50%;
            float: left;
            .sub_hero {
                width: 50%;
                float: left;
            }
        }
    }
    .fest_intro {
        clear: both;
    }
    .primary_sponsors_col1, .primary_sponsors_col2, .secondary_sponsors_col1, .secondary_sponsors_col2 {
        width: 45%;
        float: left;
        margin-right: 10%;
        margin-bottom: 2em;
    }
    .primary_sponsors_col2, .secondary_sponsors_col2 {
        margin-right: 0;
    }
    .cp_mama {
        clear: both;
        overflow: hidden;
    }
    .primary_sponsors_col2 {
        margin-top: 2em;
    }
    /*======Music Page ======*/
    .stage, .map {
        width: 50%;
        float: left;
    }
    .schedule {
        clear: both;
        p {
            width: 50%;
        }
        span {
            float: right;
        }
    }
    /*======Food Page ======*/
    .vendor_wrap {
        clear: both;
        overflow: hidden;
        padding: $lg_pad;
    }
    .vendor_col1, .vendor_col2 {
        width: 45%;
        float: left;
        margin-right: 10%;
    }
    .vendor_col2 {
        margin-right: 0;
    }
    /*======Events Page ======*/
    .event_wrap {
        padding: $lg_pad;
    }
    .gala {
        padding: 0;
    }
    .gala_title {
        width: 50%;
        float: left;
    }
    .gala_photo {
        width: 50%;
        float: left;
    }
    /*======Adopt Page ======*/
    .sponsor_wrap {
        overflow: hidden;
        clear: both;
        padding: $lg_pad;
    }
    .sponsor_col1, .sponsor_col2 {
        width: 45%;
        float: left;
        margin-right: 10%;
    }
    .sponsor_col2 {
        margin-right: 0;
    }

    /*======Animations ======*/

    .animation_mama {
        width: 100%;
        a {
            display: inline-block;
            margin-right: 7%;
            padding-bottom: 0;
        }

        a:last-of-type {margin-right:0;}
    }
}

@media screen and (min-width: 53.125em) {
    header {
        float: left;
        width: 222px;
    }
    footer {
        width: 222px;
        .social_nav {
            float: none;
            margin: 0 auto;
            padding-left: 2em;
            padding-top: 4em;
            li {
                float: none;
                margin-bottom: 3em;
            }
        }
        .foot_nav {
            float: none;
            text-align: center;
            width: 100%;
            li {
                display: block;
                margin-bottom: 3em;
                &:first-of-type {
                    padding-top: 2em;
                }
            }
        }
    }
    .logo {
        float: none;
        text-align: center;
        margin: 0;
    }
    /*======Home Page ======*/
    .large_logo {
        float: none;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .logo_date {
        float: none;
        margin-left: 0;
    }
    .home_mama {
        float: right;
        width: calc(100% - 222px);
        clear: none;
    }
    .sub_hero {
        height: 350px;
    }
    /*======Music Page ======*/
    .stage_wrap, .day_nav {
        float: right;
        width: calc(100% - 222px);
        clear: none;
    }
    /*======Food Page ======*/
    .vendor_wrap, .food_nav {
        float: right;
        width: calc(100% - 222px);
        clear: none;
    }
    .veg, .gf {
        float: none;
    }
    .veg {
        padding-bottom: 2em;
    }
    .icon_key {
        margin-top: 0;
        float: left;
        width: 20%;
        margin-left: 20%;
    }
    .beverages {
        float: left;
        width: 50%;
    }
    /*======Events Page ======*/
    .event_wrap {
        float: right;
        width: calc(100% - 222px);
        clear: none;
    }
    /*======Adopt Page ======*/
    .sponsor_wrap {
        float: right;
        width: calc(100% - 222px);
        clear: none;
    }
}

@media screen and (min-width: 65.625em) {
    .stage, .schedule {
        padding: $lg_pad;
        h2 {
            font-size: 2.2em;
        }
    }
}

@media screen and (min-width: 87.5em) {

.fest_intro, .partners, .event_wrap, .vendor_wrap, .sponsor_wrap {
        padding-left: $xl_pad;
    }

    .schedule {padding-left: $xl_pad; padding-right: 16em;}

    .stage h2 {padding-left: 2.8em; padding-right: 1em;}

    .lg_logo{padding-left: 2.3em;}

    .day_nav a, .food_nav a {font-size: 1.5em;}

    .beverages {width: 45%;}
    .icon_key  {margin-left: 10%;}
    .vendor_col1 {margin-right: 0;}
    .gala h2, .gala p {padding-left: 0;}
    .gala_photo {height: 321px;}
}

@media screen and (min-width: 112.5em) {

    .primary_sponsors_col1, .primary_sponsors_col2, .secondary_sponsors_col1, .secondary_sponsors_col2 {
        width: 20%;
        margin-right: 5%;
    }
    .secondary_sponsors_col1, .secondary_sponsors_col2 {
        margin-top: 2em;
    }
} 





