/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixin */
/*Variables*/
/*Variables*/
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
body img {
  max-width: 100%;
  display: block; }
body iframe {
  display: block; }

header {
  overflow: hidden;
  margin-top: 3em; }

.logo {
  float: left;
  margin-left: 1em; }

footer {
  overflow: hidden; }
  footer .foot_nav {
    float: right;
    width: 30%; }
  footer .social_nav {
    overflow: hidden;
    float: left;
    width: 70%; }
    footer .social_nav li {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 2%; }
      footer .social_nav li:last-of-type {
        margin-right: 0; }

.top_wrap, .bottom_wrap {
  overflow: hidden; }

/*======Home Page ======*/
.large_logo {
  display: none; }

.small_logo {
  width: 60%;
  padding-bottom: 15px; }

.logo {
  padding-bottom: 2em; }

.fest_intro, .partners {
  padding: 3em;
  overflow: hidden; }

.fest_intro, .trombone {
  background-image: url(../assets/trombone_lg.svg);
  background-size: 150%;
  background-repeat: no-repeat; }

.sub_hero {
  background: url(../assets/sub_band.jpg);
  background-size: cover;
  height: 300px;
  display: none; }

.hero {
  max-height: 550px;
  overflow: hidden; }

.cp_mama {
  max-width: 725px; }

/*======Music Page ======*/
.stage_wrap:nth-of-type(3n+1) .schedule {
  background-image: url(../assets/streetcar_lg.svg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center; }

.stage {
  height: 200px; }

.stage, .schedule {
  padding: 3em; }

.day_nav {
  text-align: center; }
  .day_nav::after {
    clear: both;
    content: "";
    display: table; }
  .day_nav li {
    display: inline-block;
    width: 25%;
    padding: 1.5em; }
    .day_nav li:active {
      background: red; }

.food_nav {
  text-align: center; }
  .food_nav::after {
    clear: both;
    content: "";
    display: table; }
  .food_nav li {
    display: inline-block;
    width: 50%;
    padding: 1.5em; }

/*======Food Page ======*/
.vendor_wrap {
  padding: 3em; }

.beverages {
  margin-top: 1.5em; }

.icon_key {
  overflow: hidden;
  margin-top: 2em; }

.veg, .gf {
  float: left;
  width: 100px;
  text-align: center; }

.veg {
  margin-right: 20%; }

.icon_sm {
  padding-top: 1em; }
  .icon_sm p {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top; }
  .icon_sm img {
    display: inline-block;
    width: 30px;
    margin-right: 5px; }

/*======Events Page ======*/
.umbrella {
  background-image: url(../assets/umbrella_lg.svg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center top; }

.event_wrap {
  padding: 3em;
  overflow: hidden; }

.gala {
  padding: 0; }

.gala_photo {
  background-image: url(../assets/gala.jpg);
  background-size: cover;
  max-height: 300px;
  height: 300px; }

.gala_info, .events p {
  max-width: 600px; }

.animated_umbrella {
  width: 170px; }

/*======Adopt Page ======*/
.sponsor_wrap {
  padding: 3em; }

.sponsor_col1, .sponsor_col2 {
  margin-bottom: 3.5em; }
  .sponsor_col1:last-of-type, .sponsor_col2:last-of-type {
    margin-bottom: 0; }

.animated_trombone {
  position: relative;
  width: 170px; }

.animated_trombone_handle {
  width: 170px;
  position: absolute;
  top: 289px;
  left: 92px; }

/*Variables*/
@media screen and (min-width: 40em) {
  .small_logo {
    display: none; }

  .large_logo {
    display: block;
    width: 20%;
    float: left;
    padding-bottom: 3em; }

  .logo_date {
    float: left;
    margin-left: 2em;
    margin-top: 3em; }

  .foot_nav {
    width: 50%; }
    .foot_nav li {
      display: inline-block; }

  .social_nav {
    width: 50%; }

  .logo {
    float: none; }

  /*======Home Page ======*/
  .fest_intro, .partners {
    padding: 4.6em; }

  .sub_hero {
    display: block;
    float: left;
    width: 50%; }

  .lg_logo {
    overflow: hidden; }
    .lg_logo .logo_title {
      width: 50%;
      float: left; }
      .lg_logo .logo_title .sub_hero {
        width: 50%;
        float: left; }

  .fest_intro {
    clear: both; }

  .primary_sponsors_col1, .primary_sponsors_col2, .secondary_sponsors_col1, .secondary_sponsors_col2 {
    width: 45%;
    float: left;
    margin-right: 10%;
    margin-bottom: 2em; }

  .primary_sponsors_col2, .secondary_sponsors_col2 {
    margin-right: 0; }

  .cp_mama {
    clear: both;
    overflow: hidden; }

  /*======Music Page ======*/
  .stage, .schedule {
    padding: 4.6em; }

  .stage, .map {
    width: 50%;
    float: left; }

  .schedule {
    clear: both; }
    .schedule p {
      width: 50%; }
    .schedule span {
      float: right; }

  /*======Food Page ======*/
  .vendor_wrap {
    clear: both;
    overflow: hidden;
    padding: 4.6em; }

  .vendor_col1, .vendor_col2 {
    width: 45%;
    float: left;
    margin-right: 10%; }

  .vendor_col2 {
    margin-right: 0; }

  /*======Events Page ======*/
  .event_wrap {
    padding: 4.6em; }

  .gala {
    padding: 0; }

  .gala_title {
    width: 50%;
    float: left; }

  .gala_photo {
    width: 50%;
    float: left; }

  .animated_umbrella {
    position: relative;
    float: right; }

  /*======Adopt Page ======*/
  .sponsor_wrap {
    overflow: hidden;
    clear: both;
    padding: 4.6em; }

  .sponsor_col1, .sponsor_col2 {
    width: 45%;
    float: left;
    margin-right: 10%; }

  .sponsor_col2 {
    margin-right: 0; } }
@media screen and (min-width: 53.125em) {
  header {
    float: left;
    width: 222px; }

  footer {
    width: 222px; }
    footer .social_nav {
      float: none;
      margin: 0 auto;
      padding-left: 2em;
      padding-top: 4em; }
      footer .social_nav li {
        float: none;
        margin-bottom: 3em; }
    footer .foot_nav {
      float: none;
      text-align: center;
      width: 100%; }
      footer .foot_nav li {
        display: block;
        margin-bottom: 3em; }
        footer .foot_nav li:first-of-type {
          padding-top: 2em; }

  .logo {
    float: none;
    text-align: center;
    margin: 0; }

  /*======Home Page ======*/
  .large_logo {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0; }

  .logo_date {
    float: none;
    margin-left: 0; }

  .home_mama {
    float: right;
    width: calc(100% - 222px);
    clear: none; }

  .sub_hero {
    height: 350px; }

  /*======Music Page ======*/
  .stage_wrap, .day_nav {
    float: right;
    width: calc(100% - 222px);
    clear: none; }

  /*======Food Page ======*/
  .vendor_wrap, .food_nav {
    float: right;
    width: calc(100% - 222px);
    clear: none; }

  .veg, .gf {
    float: none; }

  .veg {
    padding-bottom: 2em; }

  .icon_key {
    margin-top: 0;
    float: left;
    width: 20%;
    margin-left: 20%; }

  .beverages {
    float: left;
    width: 50%; }

  /*======Events Page ======*/
  .event_wrap {
    float: right;
    width: calc(100% - 222px);
    clear: none; }

  /*======Adopt Page ======*/
  .sponsor_wrap {
    float: right;
    width: calc(100% - 222px);
    clear: none; } }
/*Variables*/
#locations, #sched_date, #events_date {
  background-color: #4c9bac; }

.day_nav, .food_nav {
  background: #4b4648; }
  .day_nav a, .food_nav a {
    color: #ffffff; }
  .day_nav li, .food_nav li {
    border-right: 2px solid #dfe925; }
    .day_nav li:last-of-type, .food_nav li:last-of-type {
      border-right: none; }
    .day_nav li:hover, .food_nav li:hover {
      background: #4c9bac; }

footer {
  padding: 2em 1em; }
  footer li {
    margin-bottom: 1em; }
    footer li a {
      color: white; }
      footer li a:visited {
        color: white; }
      footer li a:hover {
        color: #4c9bac; }

.bottom_wrap {
  background: #4b4648; }

.logo {
  color: #4b4648; }

/*======Home Page ======*/
.lg_logo {
  color: #ffffff;
  background: #c70b0f; }

.fest_intro {
  color: #4b4648;
  background-color: #dce269; }

.partners {
  color: #ffffff;
  background: #4c9bac; }

/*======Music Page ======*/
.stage_wrap:nth-of-type(3n+1) .stage {
  background: #c70b0f;
  color: #ffffff; }
.stage_wrap:nth-of-type(3n+1) .schedule {
  background-color: #4c9bac;
  color: #ffffff; }

.stage_wrap:nth-of-type(3n+2) .stage {
  background: #dce269;
  color: #4b4648; }
.stage_wrap:nth-of-type(3n+2) .schedule {
  background: #c70b0f;
  color: #ffffff; }

.stage_wrap:nth-of-type(3n+3) .stage {
  background: #4c9bac;
  color: #ffffff; }
.stage_wrap:nth-of-type(3n+3) .schedule {
  background: #dce269;
  color: #4b4648; }

/*======Food Page ======*/
.vendor_wrap:nth-of-type(3n+1) {
  background-color: #c70b0f;
  color: #ffffff; }

.vendor_wrap:nth-of-type(3n+2) {
  background-color: #dce269;
  color: #4b4648; }

.vendor_wrap:nth-of-type(3n+3) {
  background-color: #4c9bac;
  color: #ffffff; }

/*======Events Page ======*/
.tealish {
  background-color: #4c9bac;
  color: #ffffff; }

.red {
  background-color: #c70b0f;
  color: #ffffff; }

.yellowish {
  background-color: #dce269;
  color: #4b4648; }

/*======Adopt Page ======*/
.sponsor_wrap:nth-of-type(3n+1) {
  background-color: #c70b0f;
  color: #ffffff; }

.sponsor_wrap:nth-of-type(3n+2) {
  background-color: #dce269;
  color: #4b4648; }

.sponsor_wrap:nth-of-type(3n+3) {
  background-color: #4c9bac;
  color: #ffffff; }

/*Variables*/
/*=====font families=====*/
h1, h2, h3 {
  font-family: "phoreuscherokee", sans-serif; }

h4, nav a, p, li, span {
  font-family: "azo-sans-web", sans-serif; }

/*=====font sizes=====*/
h1 {
  font-size: 3.25em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 2.25em; }

p {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 300; }

* a {
  text-decoration: none; }

footer {
  padding: 2em 1em; }
  footer li {
    margin-bottom: 1em;
    font-weight: 300; }

.day_nav, .food_nav {
  font-size: 1.25em;
  font-weight: 300; }

/*=====Home Page=====*/
.lg_logo h1 {
  font-size: 3.5em;
  padding: 1em;
  line-height: 1.2; }

.fest_intro h2 {
  padding-bottom: .75em;
  font-weight: 700; }

.fest_intro p, .fest_intro h2 {
  max-width: 600px; }

.partners h2, .partners h3 {
  padding: .75em 0; }
.partners h4 {
  font-size: 1.5em;
  padding-bottom: .5em; }

.primary_sponsors_col1 li, .primary_sponsors_col2 li, .secondary_sponsors_col1 li, .secondary_sponsors_col2 li {
  padding-top: .5em; }

.primary_sponsors_col1 li, .primary_sponsors_col2 li {
  font-size: 1.2em; }

/*=====Music Page=====*/
.headliner {
  font-size: 1.5em; }

.stage_wrap p {
  margin-bottom: 2em; }

.stage_wrap span {
  font-weight: 700;
  line-height: 1.5; }

/*=====Food Page=====*/
.vendor_wrap h2 {
  padding-bottom: .75em; }

.vendor_wrap p {
  margin-top: 1em; }

.vendor_wrap p, .vendor_wrap h1 {
  max-width: 600px; }

.icon_sm p {
  margin-top: 0; }

/*=====Events Page=====*/
.event_wrap h2 {
  padding-bottom: .75em; }

.event_wrap h1, .event_wrap p, .sponsor_wrap h1 {
  padding-bottom: 1em; }

.gala h2 {
  padding: 1em 1em; }
.gala p {
  padding-left: 2em; }

/*=====Adopt Page=====*/
.sponsor_wrap h3 {
  padding-bottom: .75em; }

.sponsor_wrap p, .sponsor_wrap h1 {
  max-width: 600px; }

/*! responsive-nav.js 1.0.38 by @viljamis */
.nav-collapse a {
  width: 100%;
  display: block;
  text-align: right;
  padding: 1em 1em;
  border-bottom: 2px solid #dfe925; }

.md_bord {
  border-right: 2px solid #dfe925; }

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden; }
  .nav-collapse ul .block {
    display: block;
    background: #4b4648;
    width: 50%;
    float: left;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 300; }
    .nav-collapse ul .block:hover {
      background: #4c9bac; }
    .nav-collapse ul .block:visited {
      color: white; }
  .nav-collapse ul .non-block {
    display: block;
    background: #ffffff;
    width: 50%;
    float: left;
    color: #4b4648; }
    .nav-collapse ul .non-block:hover {
      color: #4c9bac; }
    .nav-collapse ul .non-block:visited {
      color: #4b4648; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;
  margin-top: 2em; }

.nav-collapse.opened {
  max-height: 9999px;
  position: relative;
  margin-top: 2em; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  font-size: 1.5em;
  font-family: "azo-sans-web",sans-serif;
  margin-bottom: 3em;
  margin-right: 1em;
  border-bottom: 3px solid #dfe925;
  color: #4b4648; }
  .nav-toggle a:visited {
    color: #4b4648; }

#food_link, #sched_link, #home_link, #events_link {
  background-color: #4c9bac; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; }

  .nav-collapse ul .block, .nav-collapse ul .non-block {
    width: 25%;
    text-align: center; }
  .nav-collapse ul .non-block {
    border: none; }
  .nav-collapse ul .block {
    border-bottom: none; }
  .nav-collapse ul .lg_bord {
    border-right: 2px solid #dfe925; } }
@media screen and (min-width: 53.125em) {
  .nav-collapse ul li .block, .nav-collapse ul li .non-block {
    float: none;
    width: 100%;
    border-right: none; }
  .nav-collapse ul li .block {
    border-bottom: 2px solid #dfe925; }

  .nav-collapse li a {
    padding: 1.5em 1em; } }
/*=====Animation=====*/
.animated_umbrella {
  -webkit-animation: wiggle 800ms ease infinite;
  -moz-animation: wiggle 800ms ease infinite;
  animation: wiggle 800ms ease infinite; }

.animated_trombone_handle {
  -webkit-animation: play 3s infinite;
  -moz-animation: play 3s infinite;
  animation: play 3s infinite; }

/*=====Key Frames=====*/
@-webkit-keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(35deg); } }
@-moz-keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(35deg); } }
@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(35deg); } }
@-webkit-keyframes play {
  50% {
    top: 293px;
    left: 105px; } }
@-moz-keyframes play {
  50% {
    top: 293px;
    left: 105px; } }
@keyframes play {
  50% {
    top: 293px;
    left: 105px; } }

/*# sourceMappingURL=main.css.map */
